.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
.terraform.lock.hcl

# Local .terraform directories
**/.terraform/*
# .terraform directories at root level
.terraform/*
# .terraform directories in subdirectories
*/.terraform/*
# .terraform directories in nested subdirectories
**/.terraform/**/*
